/* videos styles */
.videos_page {
  padding: 0px 0px 30px 0px;
}
.videos_page .videos_header_block {
  position: relative;
  max-width: 1245px;
  margin: 0px auto;
  padding-top: 19px;
}
.videos_page .videos_header_block .page_title {
  padding-top: 7px;
}
.videos_page .videos_header_block .help_link {
  display: block;
  position: absolute;
  top: 29px;
  right: 10px;
  width: 22px;
  height: 22px;
  background: url(../img/icons.png) -78px -47px no-repeat;
}
.videos_page .videos_header_block .search_block {
  float: right;
  position: relative;
  width: 350px;
  margin-right: 44px;
}
.videos_page .videos_header_block .search_block .search_field {
  outline: none;
  position: relative;
  z-index: 0;
  width: 296px;
  height: 42px;
  margin: 0px;
  padding: 0px 42px 0px 10px;
  font-size: 18px;
  line-height: 1.2em;
  font-family: Tahoma, Arial, sans-serif;
  text-align: left;
  color: #333333;
  border: 1px solid #A5ACB2;
  background: #FFFFFF;
}
.videos_page .videos_header_block .search_block .search_button {
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 42px;
  height: 42px;
  border: none;
  background: url(../img/search_icon.png) 50% 50% no-repeat #ffffff;
  background-size: 100%;
}
.videos_page .videos_block {
  max-width: 1245px;
  margin: 0px auto;
  padding-top: 19px;
}
.videos_page .videos {
  margin: 0px -3px 0px -2px;
}
.videos_page .video {
  float: left;
  position: relative;
  width: 244px;
  height: 244px;
  margin: 0px 3px 6px 3px;
}
.videos_page .video .avatar {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
}
.videos_page .video .avatar img {
  display: block;
  width: inherit;
}
.videos_page .video .nu_block {
  display: block;
  width: 100%;
  height: 192px;
  padding: 43px 0px 10px 0px;
  text-align: center;
  vertical-align: middle;
  background: url(../img/nu_background.png) 0px 0px repeat;
}
.videos_page .video .nu_block .age_text {
  display: block;
  margin-bottom: 10px;
  padding: 0px 10px;
  font-size: 74px;
  line-height: 1em;
  color: #3399cc;
}
.videos_page .video .nu_block .info_text {
  padding: 0px 10px;
  font-size: 20px;
  line-height: 1.2em;
  color: #ffffff;
}
.videos_page .video .user_info {
  display: table;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  min-height: 49px;
  background: url(../img/dark_transparent_bg.png) 0px 0px repeat;
}
.videos_page .video .user_info .name {
  padding-left: 11px;
  font-size: 14px;
  line-height: 1.2em;
  text-align: left;
}
.videos_page .video .user_info .counter {
  padding-right: 11px;
  padding-left: 11px;
  font-size: 18px;
  line-height: 1.2em;
  text-align: right;
}
.videos_page .video .user_info .name,
.videos_page .video .user_info .counter {
  display: table-cell;
  padding-top: 14px;
  padding-bottom: 14px;
  vertical-align: middle;
}
.videos_page .video .user_info .name a,
.videos_page .video .user_info .counter a {
  text-decoration: none;
  color: #ffffff;
}
.videos_page .video .user_info .edit_link {
  display: block;
  float: left;
  width: 24px;
  height: 28px;
  margin: 12px 70px 0px 14px;
  background: url(../img/photos_icons.png) 0px 0px no-repeat;
}
.videos_page .video .user_info .zoom_link {
  display: block;
  float: left;
  width: 24px;
  height: 28px;
  margin: 12px 70px 0px 14px;
  background: url(../img/photos_icons.png) 0px 0px no-repeat;
  position: absolute;
  left: 50%;
  top: 12px;
  float: none;
  width: 28px;
  margin: 0px 0px 0px -14px;
  background: url(../img/photos_icons.png) -24px 0px no-repeat;
}
.videos_page .video .user_info .remove_link {
  display: block;
  float: left;
  width: 24px;
  height: 28px;
  margin: 12px 70px 0px 14px;
  background: url(../img/photos_icons.png) 0px 0px no-repeat;
  width: 27px;
  height: 27px;
  background: url(../img/photos_icons.png) -104px 0px no-repeat;
}
.videos_page .video .user_info .edit_link:hover {
  background-position: -52px 0px;
}
.videos_page .video .user_info .zoom_link:hover {
  background-position: -76px 0px;
}
.videos_page .video .user_info .remove_link:hover {
  background-position: -131px 0px;
}
.videos_page .video .online_status {
  position: absolute;
  display: block;
  top: 7px;
  left: 8px;
  width: 20px;
  height: 20px;
}
.videos_page .video .online_status:before {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  background: url(../img/icons.png) -29px -31px no-repeat;
}
.videos_page .video .top_status {
  position: absolute;
  display: block;
  top: 6px;
  right: 7px;
  width: 28px;
  height: 26px;
}
.videos_page .video .top_status .label {
  display: none;
  position: absolute;
  top: -25px;
  right: -7px;
  width: 128px;
  height: 17px;
  padding: 2px 0px 0px 0px;
  font-size: 12px;
  line-height: 1.2em;
  text-decoration: none;
  color: #2c3338;
  text-align: center;
  background: #FFCC00 none;
}
.videos_page .video .top_status .label:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -6px;
  right: 16.5px;
  width: 9px;
  height: 6px;
  background: url(../img/icons.png) -29px -52px no-repeat;
}
.videos_page .video .top_status:before {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  background: url(../img/icons.png) 0px -32px no-repeat;
}
.videos_page .video .top_status:hover .label {
  display: block;
}
.videos_page .video .image {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
}
.videos_page .video .image img {
  display: block;
  width: inherit;
}
.videos_page .video .video_info {
  display: table;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  min-height: 49px;
  background: url(../img/dark_transparent_bg.png) 0px 0px repeat;
  min-height: auto;
}
.videos_page .video .video_info .name {
  padding-left: 11px;
  font-size: 14px;
  line-height: 1.2em;
  text-align: left;
}
.videos_page .video .video_info .counter {
  padding-right: 11px;
  padding-left: 11px;
  font-size: 18px;
  line-height: 1.2em;
  text-align: right;
}
.videos_page .video .video_info .name,
.videos_page .video .video_info .counter {
  display: table-cell;
  padding-top: 14px;
  padding-bottom: 14px;
  vertical-align: middle;
}
.videos_page .video .video_info .name a,
.videos_page .video .video_info .counter a {
  text-decoration: none;
  color: #ffffff;
}
.videos_page .video .video_info .edit_link {
  display: block;
  float: left;
  width: 24px;
  height: 28px;
  margin: 12px 70px 0px 14px;
  background: url(../img/photos_icons.png) 0px 0px no-repeat;
}
.videos_page .video .video_info .zoom_link {
  display: block;
  float: left;
  width: 24px;
  height: 28px;
  margin: 12px 70px 0px 14px;
  background: url(../img/photos_icons.png) 0px 0px no-repeat;
  position: absolute;
  left: 50%;
  top: 12px;
  float: none;
  width: 28px;
  margin: 0px 0px 0px -14px;
  background: url(../img/photos_icons.png) -24px 0px no-repeat;
}
.videos_page .video .video_info .remove_link {
  display: block;
  float: left;
  width: 24px;
  height: 28px;
  margin: 12px 70px 0px 14px;
  background: url(../img/photos_icons.png) 0px 0px no-repeat;
  width: 27px;
  height: 27px;
  background: url(../img/photos_icons.png) -104px 0px no-repeat;
}
.videos_page .video .video_info .edit_link:hover {
  background-position: -52px 0px;
}
.videos_page .video .video_info .zoom_link:hover {
  background-position: -76px 0px;
}
.videos_page .video .video_info .remove_link:hover {
  background-position: -131px 0px;
}
.videos_page .video .video_info .info {
  display: table;
  width: 100%;
  min-height: 77px;
}
.videos_page .video .video_info .row {
  display: table-row;
}
.videos_page .video .video_info .title {
  display: table-cell;
  padding: 10px 11px;
  font-size: 16px;
  line-height: 1.2em;
  text-align: left;
  vertical-align: middle;
}
.videos_page .video .video_info .title a {
  text-decoration: none;
  color: #ffffff;
}
@media only screen and (max-width: 1270px) {
  .videos_page {
    width: 100%;
  }
  .videos_page .videos_block,
  .videos_page .videos_header_block {
    max-width: 996px;
  }
  .videos_page .videos {
    margin-left: -1px;
  }
}
@media only screen and (max-width: 1023px) {
  .videos_page .videos_block,
  .videos_page .videos_header_block {
    max-width: 745px;
  }
  .videos_page .videos {
    margin-left: -2px;
  }
}
@media only screen and (max-width: 767px) {
  .videos_page {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .videos_page .help_cloud {
    margin: 0px -10px;
  }
  .videos_page .videos_header_block .page_title {
    float: none;
    padding-bottom: 17px;
  }
  .videos_page .videos_header_block .search_block {
    float: none;
    width: 100%;
    margin: 0px;
  }
  .videos_page .videos_header_block .search_block .search_field {
    display: block;
    width: 100%;
    height: 44px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .videos_page .videos_block .video {
    width: 48.7%;
    min-width: 245px;
    margin: 0px 0.65% 6px 0.65%;
  }
}
@media only screen and (max-width: 536px) {
  .videos_page .videos_block .videos {
    margin: 0px;
  }
  .videos_page .videos_block .video {
    width: 100%;
    margin: 0px 0px 6px 0px;
  }
}
